<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <style>
    .doneText {
      text-decoration: line-through;
      color: red;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="justify-content-center text-center">
        <h1 class="mt-5">To Do List App</h1>
        <div class="row justify-content-center">
          <div class="col-9 mt-5">
            <div class="row">
              <div class="col-2">
                <input type="text" class="form-control" placeholder="start time" v-model="startTime">
              </div>
              <div class="col-2">
                <input type="text" class="form-control" placeholder="end time" v-model="endTime">
              </div>
              <div class="col-6">
                <input type="text" class="form-control" placeholder="new activity" v-model="activity">
              </div>
              <div class="col-2">
                <button class="btn btn-primary form-control" @click="addTodo">Add</button>
              </div>
            </div>
          </div>
        </div>

        <!-- List Todo -->
        <div class="row justify-content-center">
          <div class="col-7 mt-5">
            <div v-for="(item, index) in todoList" class="p-3 border-bottom">
              <button class="btn btn-outline-danger me-3" @click="deleteTodo(index)">delete</button>
              <button class="btn btn-success me-3" @click="finishTodo(index)">done</button>
              <span :class="{doneText: item.done}">{{ item.start }} - {{ item.end }} - {{ item.text }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="module">
    import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

    createApp({
      data() {
        return {
          todoList: [
            { text: 'belajar html', start: '07:00', end: '08:00', done: false },
            { text: 'belajar css', start: '08:00', end: '09:00', done: false },
            { text: 'belajar javascript', start: '09:00', end: '10:00', done: false },
          ],
          startTime: '',
          endTime: '',
          activity: ''
        }
      },
      methods: {
        addTodo() {
          let newItem = {
            text: this.activity,
            start: this.startTime,
            end: this.endTime,
            done: false
          }
          this.todoList.push(newItem)
        },
        deleteTodo(index) {
          this.todoList.splice(index, 1)
        },
        finishTodo(index) {
          this.todoList[index].done = true
        }

      },
    }).mount('#app')
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>